<div class="bloc">
	<div class="content">
		<h1>Erro</h1>
		<p>O model <?php echo $ref; ?> não tem o behavior Media.</p>

		<pre>
class <?php echo $ref; ?> extends AppModel{

	public $actsAs = array('Media.Media');

}
		</pre>
	</div>
</div>