/**
 * GACMS
 *
 * Stylesheet from gacms
 * @author      Rafael Benites
 */
/* font * /
@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700');
/* rewrites */
html {overflow-y:scroll;height:100%;}
body{font-family:'Open Sans Condensed', sans-serif;font-size:15px;color:#8d8d8d;background:url(../../img/bg.png);min-width:420px;}
a{color:#8d8d8d;text-decoration:none;}
a:hover{color:#333; text-decoration:underline;}
h1, h2, h3, h4, h5, h6 {color: #222;font-weight: bold;}
h1{font-size:31px;}
h2{font-size:26px;padding:0 0 10px 0;}
h3{font-size:17px;padding:0 0 10px 0;}
h4{font-size:16px;padding:0 0 5px 0;}
h5{font-size:14px;padding:0 0 5px 0;}
h6{font-size:12px;padding:0 0 5px 0;}
/* utils */
.column{float:left;margin-right:8px;}
.clear{clear:both;}
.acenter{text-align:center;}
.aright{text-align:right;}
.mright{margin-right:8px;}
.mleft{margin-left:8px;}
.mtop{margin-top:8px;}
.mbottom{margin-bottom:8px;}
.bottom{margin-bottom:0 !important}
hr.space {background:#fff;color:#fff;visibility:hidden;clear:both;float:none;width:100%;height:1px;margin:0 0 17px;border:none;}
/* login */
#ga-login-box{width:423px;height:350px;position:absolute;left:50%;top:50%;margin:-175px 0 0 -212px;}
#ga-login-box h2{font-size:24px;font-weight:bold;margin:0 0 .3em;color:#787878}
#ga-form-box{background:url(../../img/login_box.png) no-repeat;padding:20px 30px;height:160px;}
	#ga-form-box p{margin-bottom:1em !important;}
	.form-row{position:relative;}
	#ga-form-box label{display:block;text-align:right;width:58px;line-height:31px;}
	#ga-form-box label.error{padding:0 1em;border:0 none;width:auto;margin:.3em 0;font-size:.8em;position:absolute;top:0;right:0;background:none;}
	#login-footer{font-size:.95em;padding:0 5px;}
	.ga-input-login{background:url(../../img/input.png) no-repeat;padding:2px 5px;width:274px;height:27px;border:0 !important;margin:0.2em 0 !important;}
/* top of the boxes (based on simpla) */
.content-box{border: 1px solid #ccc;margin: 0 0 20px 0;background: #fff;margin-bottom:10px}
.content-box-header{background:#e5e5e5 url(../../img/bg-content-box.gif) top left repeat-x;margin-top: 1px;height:40px;line-height: 40px;}
.content-box-header h3{padding: 12px 15px 10px;margin:0;line-height:1}
.content-box-content{padding:10px 20px 20px}
/* gacms */
.logout{margin-bottom:10px;}
#menu{margin-top: 10px;padding:0;border-color:white;}
#menu li{margin-bottom:10px;}
#menu li:last-child, #menu  ul li:last-child{margin-bottom:0}
#menu li a{background:transparent url('../../img/bg-menu-item-current.png') repeat-x;border-color:transparent;}
#menu ul{padding:0 0 0 10px;margin-bottom:0;}
#menu ul li:first-child{margin-top:10px;}
#menu .current{background-image:url('../../img/menu-item.png');color: #FFF;}
/* opções */
ul.shortcut-buttons-set{margin:0;}
.shortcut-button {border: 1px solid #ccc;background: #f7f7f7 url('../../img/shortcut-button-bg.gif') top left no-repeat;display: block;width: 120px;margin: 0 0 20px 0}
.shortcut-button span {border: 1px solid #fff;display:block;padding: 15px 10px 15px 10px;text-align: center;color: #555;font-size: 13px;line-height: 1.3em;cursor:pointer;min-height:90px;height:auto !important;height:90px;}
.shortcut-button span img {margin-bottom: 10px;}
.shortcut-button:hover {background: #fff;}
.shortcut-button span:hover {color: #57a000;}
.shortcut-button:hover {text-decoration:none;}
ul.shortcut-buttons-set li {float: left;margin: 0 15px 0 0;padding: 0 !important;background: none;list-style:none;*margin-top:20px;}
.shortcut-buttons-set:first-child{clear:both;}
/* search */
.form-search .label{border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;}
/* table */
.list_table {width:100%;border-collapse:collapse;}
.list_table thead th {font-weight: bold;font-size: 15px;border-bottom: 1px solid #ddd;}
.list_table tbody {border-bottom: 1px solid #ddd;}
.list_table td,
.list_table th {padding: 10px;line-height: 1.3em;background:transparent;text-align: center;}
.list_table .item-0 td{background:#f3f3f3}
.list_table .item-1 td{background:#FFF}
.list_table tfoot td .bulk-actions {padding: 15px 0 5px 0;}
.list_table tfoot td .bulk-actions select {padding: 4px;border: 1px solid #ccc;}
.list_table tbody td a{display:block;}
.list_table tbody td.last a{display:inline;margin-right:2px;}
/* pagination */
.pagination .current{color:#DE731B;}
.pagination .disabled{color:#eee;}
/* cake */
.error-message {color: #b94a48;padding: 8px 35px 8px 14px;margin-bottom: 20px;text-shadow: 0 1px 0 rgba(255,255,255,0.5);background-color: #f2dede;border: 1px solid #eed3d7;}
/* specific from modernizr */
.lt-ie9 .btn{background:url('../../img/bg-menu-item-current.png') repeat-x 0 -4px;border:1px solid #CCC;outline: none;outline-width:0;}
.lt-ie8 .form-row{position:relative;top:-10px;}
.lt-ie8 #ga-form-box p{position:relative;top:-10px;}
.lt-ie8 .form-row.aright{top:-15px;}
.lt-ie9 a i,.lt-ie9 a span{cursor:pointer;}
/* responsiveness */
@media (min-width: 768px) and (max-width: 979px) {
  #ga-right-box {width:74.30939226519337%;}
  #ga-left-box {width:22.92817679558011%;}
  .input-xxlarge, label{width:100%;margin:0 -7px;}
}
@media (min-width: 980px) and (max-width: 1279px) {
  #ga-right-box {width:74.30939226519337%;}
  #ga-left-box {width:22.92817679558011%;}
}
/* css3 */
#menu a,
.content-box,
.content-box-header,
.shortcut-button span,
.shortcut-button,
.midia-edit,
.midia-item,
.error-message,
ul.content-box-tabs li a.current{-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;}
.content-box-header {-moz-border-radius-bottomleft: 0;-moz-border-radius-bottomright: 0;-webkit-border-bottom-left-radius: 0;-webkit-border-bottom-right-radius: 0;border-bottom-left-radius: 0;border-bottom-right-radius: 0;}				
.closed-box .content-box-header {-moz-border-radius-bottomleft: 6px;-moz-border-radius-bottomright: 6px;-webkit-border-bottom-left-radius: 6px;-webkit-border-bottom-right-radius: 6px;border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;}
ul.content-box-tabs li a.current {-moz-border-radius-bottomleft: 0;-moz-border-radius-bottomright: 0;-webkit-border-bottom-left-radius: 0;-webkit-border-bottom-right-radius: 0;border-bottom-left-radius: 0;border-bottom-right-radius: 0;}