*{margin:0;padding:0;border:0 none;}
html,body {min-height: 100%;height:100%;}
body {background:url('../../img/2013_bg_site.png');}
#wrapper {min-height:100%;height:auto !important;height:100%;margin-bottom:-148px;}
.content {background:url('../../img/2013_fundo.png') top center;width:100%;height:100%;min-height:100%;height:auto !important;
text-align:center;}
#footer{width: 100%; height: 148px; background: #e57414; position: relative;}
.container {margin:0 auto; width: 950px;}
.right {float:right;}
.left {float:left;}
.clear {clear:both;}
#wrapper img{position: absolute; top: 50%; left: 50%;}

@media(max-width:767px) {
	div, div.container, .container { width: 100%; }
	.right, .left {float: none;}
	#footer {height: auto; text-align: center;}
}
img{ max-width: 100%;}