	/*
	Author: Mateus Santana - Equipe Perfil Studio
	Author URI: http://perfil.studio;
	*/

	*{transition: all .2s ease-in-out;}
	body{}

	h1{font: normal 25px 'Arial', sans-serif; color: #333333;}
	h1, h2, h3, h4, h5, h6{margin: 0; padding: 0;}
	h2{font: normal 25px 'Arial', sans-serif; color: #333333;}
	h2 small{}
	h3{}
	h4{}
	h5{}
	h6{}

	.pd-30{padding: 30px; background: #eeeeee;}

	.line{background: #E7E7E7; height: 1px; width: 100%;}

	.h100{overflow: auto;}
	.login{padding: 0 30px;}
	.login p{width: 360px;}
	label{color: #999999; font: normal 12px 'Arial', sans-serif; padding: 0 0 0 20px; margin: 0;}
	input:not([type=submit]){width: 100%; border: 1px solid #DDDDDD; border-radius: 5px; height: 50px; line-height: 50px !important; color: #444444; font: normal 16px 'Arial', sans-serif; padding: 0 15px;}
	textarea{width: 100%; border: 1px solid #DDDDDD; border-radius: 5px; height: 210px; line-height: 120% !important; color: #444444; font: normal 16px 'Arial', sans-serif; padding: 15px;}
	input[type=submit]{border: 0; border-radius: 5px; height: 35px; line-height: 35px !important; color: #FFFFFF; font: normal 14px 'Arial', sans-serif; padding: 0 15px; background: #00989B;}
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{color: #999999; font: normal 16px 'Arial', sans-serif;}

	header img{height: 80px;}
	header{padding: 10px 0; background: #EEEEEE; line-height: 80px !important; position: absolute; width: 100%; left: 0; z-index: 9;}
	header .sair{color: #9B0000; font: normal 16px 'Arial', sans-serif;}
	header .bem-vindo{color: #999999; font: normal 16px 'Arial', sans-serif; line-height: 80px !important; text-align: center;}
	header .bem-vindo strong{color: #00989B; font: normal 16px 'Arial', sans-serif;}

	.dados-solicitacoes{color: #00989B; font: normal 12px 'Arial', sans-serif;}

	.border-right-dif{box-shadow: 3px 0 6px rgba(0, 0, 0,.16);}
	.menu{padding: 0 60px;}
	.menu li a{color: #999999; font: normal 16px 'Arial', sans-serif;}
	.menu li a:hover, .menu li a.ativo{text-decoration: underline;}

	.content-conteudo{padding: 0 0 0 150px; width: 800px;}

	.item-download{width: 100%; border: 1px solid #DDDDDD; border-radius: 5px; padding: 15px; color: #444444; font: normal 16px 'Arial', sans-serif; position: relative; display: block;}
	.item-download:hover{text-decoration: underline; color: #444444;}
	.item-download img{position: absolute; top: 0; right: 0;}

	.botao-padrao{border: 0; border-radius: 5px; height: 35px; line-height: 35px !important; color: #FFFFFF !important; font: normal 14px 'Arial', sans-serif; padding: 0 15px; background: #00989B; display: inline-block;}

	ol, ul, dl{margin: 0 !important;}
	p{line-height: 140%;}
	p, span{margin: 0; font: normal 16px 'Arial', sans-serif; color: #999999;}
	p small{font-size: 15px;}
	a{text-decoration: none}
	a:hover{text-decoration: none}
	* a:hover, a:hover{text-decoration: none}
	a:visited{text-decoration: none}
	a:focus, *:focus{box-shadow: none!important; outline: none!important; text-decoration: none}
	img{max-width: 100%; height: auto}

	/* Classes by Mateus --> Opcional <-- */
	.pagination>li>a, .pagination>li>span{border: 0; background: rgba(0,0,0,.0); font: 300 italic 14px 'Arial', sans-serif; color: #000; border-radius: 0 !important;}
	.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{background: #000; color: #fff;}
	.addthis_sharing_toolbox{clear: none !important;}.mg{margin: 0;}.lSAction>a{margin-top: 0;}
	.mt5{margin-top: 5px;}.mt10{margin-top: 10px;}.mt15{margin-top: 15px;}.mt20{margin-top: 20px;}.mt25{margin-top: 25px;}.mt30{margin-top: 30px;}.mt35{margin-top: 35px;}.mt40{margin-top: 40px;}.mt45{margin-top: 45px;}.mt50{margin-top: 50px;}.mt55{margin-top: 55px;}.mt60{margin-top: 60px;}.mt65{margin-top: 65px;}.mt70{margin-top: 70px;}.mt75{margin-top: 75px;}.mt80{margin-top: 80px;}.mt85{margin-top: 85px;}.mt90{margin-top: 90px;}.mt95{margin-top: 95px;}.mt100{margin-top: 100px;}.mt105{margin-top: 105px;}.mt110{margin-top: 110px;}.mt115{margin-top: 115px;}.mt120{margin-top: 120px;}.mt125{margin-top: 125px;}.mt130{margin-top: 130px;}.mt135{margin-top: 135px;}.mt140{margin-top: 140px;}.mt145{margin-top: 145px;}.mt150{margin-top: 150px;}.mt155{margin-top: 155px;}.mt160{margin-top: 160px;}.mt165{margin-top: 165px;}.mt170{margin-top: 170px;}.mt175{margin-top: 175px;}.mt180{margin-top: 180px;}.mt185{margin-top: 185px;}.mt190{margin-top: 190px;}.mt195{margin-top: 195px;}.mt200{margin-top: 200px;}.mt205{margin-top: 205px;}.mb5{margin-bottom: 5px;}.mb10{margin-bottom: 10px;}.mb15{margin-bottom: 15px;}.mb20{margin-bottom: 20px;}.mb25{margin-bottom: 25px;}.mb30{margin-bottom: 30px;}.mb35{margin-bottom: 35px;}.mb40{margin-bottom: 40px;}.mb45{margin-bottom: 45px;}.mb50{margin-bottom: 50px;}.mb55{margin-bottom: 55px;}.mb60{margin-bottom: 60px;}.mb65{margin-bottom: 65px;}.mb70{margin-bottom: 70px;}.mb75{margin-bottom: 75px;}.mb80{margin-bottom: 80px;}.mb85{margin-bottom: 85px;}.mb90{margin-bottom: 90px;}.mb95{margin-bottom: 95px;}.mb100{margin-bottom: 100px;}.mb105{margin-bottom: 105px;}.mb110{margin-bottom: 110px;}.mb115{margin-bottom: 115px;}.mb120{margin-bottom: 120px;}.mb125{margin-bottom: 125px;}.mb130{margin-bottom: 130px;}.mb135{margin-bottom: 135px;}.mb140{margin-bottom: 140px;}.mb145{margin-bottom: 145px;}.mb150{margin-bottom: 150px;}.mb155{margin-bottom: 155px;}.mb160{margin-bottom: 160px;}.mb165{margin-bottom: 165px;}.mb170{margin-bottom: 170px;}.mb175{margin-bottom: 175px;}.mb180{margin-bottom: 180px;}.mb185{margin-bottom: 185px;}.mb190{margin-bottom: 190px;}.mb195{margin-bottom: 195px;}.mb200{margin-bottom: 200px;}.mb205{margin-bottom: 205px;}
	.pn{pointer-events: none;} .dt{display: table;} .dt .dt-t{display: table-cell; vertical-align: top;} .dt .dt-c{display: table-cell; vertical-align: middle;} .dt .dt-b{display: table-cell; vertical-align: bottom;} .w-100{width: 100%;}
	/* ---------------------------------------------------------------------------------------------------------------- */

	/* Responsivo, sites recortados em 1920 (Fluido) devem conter informações dentro de 1366 / Responsividade minima 320px */
	@media (max-width: 1366px) {}
	@media (max-width: 1200px) {
		.h100{padding: 0; height: auto !important; display: block;}
		.login{position: fixed; top: 50%; left: 0; width: 100%; transform: translate(0px, -50%); z-index: 9;}
		.login p{width: 100%;}
		.h100-do-login .dt-c{display: block;}
		.h100 .mt160{margin-top: 30px;}
		.menu{margin-bottom: 30px !important;}
		.some-resp{display: none;}
		header{position: static; line-height: 120% !important;}
		header *, header .text-right{position: static; line-height: 120% !important; text-align: center !important;}
		.content-conteudo{padding: 60px 15px !important; margin: auto; width: 100%;}
		.item-download{height: auto;}
	}
	@media (max-width: 991px) {}
	@media (max-width: 768px) {}
	@media (max-width: 479px) {}
	@media (max-width: 320px) {}
