.link-acao{
	margin: 0 5px;
}
.midias-iframe iframe{
	border: none;
}
.cms-item-alert-0 {
	background-color: #fff0d0 !important;
}
.cms-item-alert-1 {
	background-color: #f9eaca !important;
}
.cms-item-alert-0:hover, .cms-item-alert-1:hover {
	background-color: #f3e4c4 !important;
}